* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

html {
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif; }

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em auto 0 auto;
    text-align: center; }

#example, #example2 {
    height: 400px;
    background-color: white; }

#example2 {
    margin-bottom: 300px; }

.block {
    margin-top: -300px;
    height: 600px;
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

.b1 { background-color: #FFCA3A; }
.b2 { background-color: #8AC926; }
.b3 { background-color: #1982C4; }
.b4 { background-color: #6A4C93; }
.b5 { background-color: #D64933; height: 300px; }

#footer {
    flex: 0 0 100%;
    height: 300px;
    background-color: #111; }

h1 {
    font-size: 2em; }

.lot { color: #00d1c1; }
.ani { color: #1f8dd6; }