* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

html {
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif; }

#header {
    margin: 2em auto; }

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em auto 0 auto;
    text-align: center; }

#anims {
    display: flex;
    flex-direction: row;
    justify-content: center; }

#example, #example2 {
    flex: 0 0 20%;
    background-color: white; }

#wrapper, .block {
    opacity: 0; }

.block {
    height: 400px; }

.b1 { background-color: #FFCA3A; }
.b2 { background-color: #8AC926; }
.b3 { background-color: #1982C4; }
.b4 { background-color: #6A4C93; }
.b5 { background-color: #D64933; }

#footer {
    flex: 0 0 100%;
    height: 200px;
    background-color: #111; }

h1 {
    font-size: 2em; }

.lot { color: #00d1c1; }
.ani { color: #1f8dd6; }

a {
    margin: 2em auto;
    color: #888;
    text-decoration: none; }